:root {
  --primary-color: #032541;
  --secondary-color: #01b4e4;
  --background-color: #f8f9fa;
  --text-color: #333;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding: 2rem 0;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: var(--primary-color);
  font-weight: bold;
}

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #0099c9;
  border-color: #0099c9;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
