.navbar {
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--secondary-color) !important;
  }

  .nav-link {
    font-weight: 500;
    color: #fff !important;
    transition: color 0.3s ease;
  }

  .nav-link:hover {
    color: var(--secondary-color) !important;
  }